/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: "Open Sans", sans-serif;
  color: #272829;
  transition: background-color 0.3s, color 0.3s;
}
a {
  color: #e41655;
  text-decoration: none;
}
a:hover {
  color: #e2376a;
  text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", sans-serif;
}
/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #e41655;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  transition: all 0.4s;
}
.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}
.back-to-top:hover {
  color: #fff;
  background: #e41655;
  transform: scale(1.04);
}
.back-to-top.active {
  visibility: visible;
  opacity: 1;
}
/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  transition: all ease-in-out 0.5s;
  z-index: 9997;
  transition: all 0.5s;
  padding: 0 15px;
  background: #040b14;
  overflow-y: auto;
  border: 1px solid #071424;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#header .profile img {
  margin: 15px auto;
  display: block;
  width: 120px;
  border: 8px solid #2c2f3f;
}
#header .profile h1 {
  font-size: 24px;
  margin: 0;
  padding: 0;
  font-weight: 600;
  text-align: center;
  font-family: "Open Sans", sans-serif;
}
#header .profile h1 a, #header .profile h1 a:hover {
  color: #fff;
  text-decoration: none;
}
#header .profile .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #212431;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}
#header .profile .social-links a:hover {
  background: #e41655;
  color: #fff;
  text-decoration: none;
}
#main {
  margin-left: 300px;
}
.dark-mode {
  color: #A8A9B4;
  background-color: #28292A;
}
/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */
.nav-menu {
  padding: 25px 0 0 0;
}
.nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}
.nav-menu > ul > li {
  position: relative;
  white-space: nowrap;
}
.nav-menu a, .nav-menu a:focus {
  display: flex;
  align-items: center;
  color: #a8a9b4;
  padding: 12px 15px;
  margin-bottom: 8px;
  transition: 0.3s;
  font-size: 15px;
}
.nav-menu a i, .nav-menu a:focus i {
  font-size: 24px;
  padding-right: 8px;
  color: #6f7180;
}
.nav-menu a:hover, .nav-menu .active, .nav-menu .active:focus, .nav-menu li:hover > a {
  text-decoration: none;
  color: #fff;
}
.nav-menu a:hover i, .nav-menu .active i, .nav-menu .active:focus i, .nav-menu li:hover > a i {
  color: #e41655;
}
.mobile-nav-toggle {
  position: fixed;
  right: 15px;
  top: 15px;
  z-index: 9998;
  border: 0;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  background-color: #e41655;
  color: #fff;
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
  border-radius: 50px;
  cursor: pointer;
}
.mobile-nav-toggle:hover {
  transform: scale(1.04);
}
.mobile-nav-active {
  overflow: hidden;
}
.mobile-nav-active #header {
  left: 0;
}
/*--------------------------------------------------------------
# Home Section
--------------------------------------------------------------*/
#home {
  width: 100%;
  height: 100vh;
  background: url("../assets/gallery/cover-img2.jpg") center;
  background-size: cover;
  box-shadow: 0 0 75px 25px black inset;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.dark-mode #home {
  background: url("../assets/gallery/cover-img2.jpg") center;
  background-size: cover;
  filter: grayscale(0.4);
}
#home:before {
  content: "";
  background: rgba(5, 13, 24, 0.3);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
#home .home-container {
  position: relative;
  z-index: 2;
  min-width: 300px;
}
#home h1 {
  margin: 0 0 10px 0;
  font-size: 64px;
  font-weight: 700;
  line-height: 56px;
  color: #fff;
}
#home p {
  color: #fff;
  margin-bottom: 50px;
  font-size: 26px;
  font-family: "Open Sans", sans-serif;
}
#home p span {
  color: #fff;
  padding-bottom: 4px;
  letter-spacing: 1px;
  border-bottom: 3px solid #e41655;
}
/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 40px 0;
  overflow: hidden;
}
.section-title {
  padding-bottom: 30px;
}
.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #e40044;
}
.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: #e41655;
  bottom: 0;
  left: 0;
}
.section-title p {
  margin-bottom: 0;
}
/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about .content h3 {
  color: #050d18;
  font-weight: 800;
  font-size: 26px;
}
.dark-mode .about .content h3 {
  color: #A8A9B4;
}
.about .content h5 {
  color: #050d18;
  font-weight: 400;
  font-size: 20px;
}
.dark-mode .about .content h5 {
  color: #A8A9B4;
}
.about .content ul {
  list-style: none;
  padding: 0;
}
.about .content ul li {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}
.about .content ul strong {
  margin-right: 10px;
}
.about .content ul i {
  color: #e41655;
  font-size: 16px;
  margin-right: 5px;
  line-height: 0;
}
.about .content p:last-child {
  margin-bottom: 0;
}
.about #cover-image {
  border-radius: 16px;
  transition: 0.3s;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.about #cover-image:hover {
  transform: scale(1.04);
}
/*--------------------------------------------------------------
# Facts
--------------------------------------------------------------*/
.facts {
  padding-bottom: 30px;
}
.facts .count-box {
  padding: 30px;
  width: 100%;
  border-radius: 8px;
  transition: all 0.3s ease 0s;
  box-shadow: 0 0 24px 0 rgb(0 0 0 / 12%);
}
.dark-mode .facts .count-box {
  background: #323232;
}
.facts .count-box:hover {
  transform: scale(1.04);
}
.facts .count-box i {
  display: block;
  font-size: 44px;
  color: #e41655;
  float: left;
  line-height: 0;
}
.facts .count-box span {
  color: #050d18;
  font-size: 48px;
  line-height: 40px;
  display: block;
  font-weight: 700;
  margin-left: 60px;
}
.dark-mode .facts .count-box span {
  color: #A8A9B4;
}
.facts .count-box p {
  color: #071424;
  padding: 15px 0 0 0;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
}
.dark-mode .facts .count-box p {
  color: #A8A9B4;
}
.facts .count-box a {
  font-weight: 600;
  display: block;
  margin-top: 20px;
  color: #e41655;
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
  transition: ease-in-out 0.3s;
}
.facts .count-box a:hover {
  color: #e2376a;
}
/*--------------------------------------------------------------
# Digital Skills
--------------------------------------------------------------*/
.skills .progress {
  height: 60px;
  display: block;
  background: none;
  border-radius: 0;
  transition: all 0.3s ease 0s;
}
.skills .progress:hover {
  transform: scale(1.02);
}
.skills .progress .skill {
  color: #050d18;
  padding: 0;
  margin: 0 0 6px 0;
  display: block;
  font-size: 1.2em;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
}
.dark-mode .skills .progress .skill {
  color: #A8A9B4;
}
.skills .progress .skill .val {
  float: right;
  font-style: normal;
}
.skills .progress-bar-wrap {
  background: #dce8f8;
  height: 10px;
}
.skills .progress-bar {
  background-color: #e41655;
  height: 2px;
  transition: 0.9s;
  border: 1px solid #e40044;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.skill-size {
  width: 25px;
  height: 25px;
}
/*--------------------------------------------------------------
# Resume
--------------------------------------------------------------*/
.resume .resume-title {
  color: #050d18;
  font-size: 22px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.dark-mode .resume .resume-title {
  color: #A8A9B4;
}
.resume .resume-item {
  padding: 0 0 20px 20px;
  margin-top: -2px;
  border-left: 2px solid #e41655;
  position: relative;
}
.resume .resume-item h4 {
  color: #050d18;
  line-height: 18px;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
  font-family: "Open Sans", sans-serif;
}
.dark-mode .resume .resume-item h4 {
  color: #A8A9B4;
}
.resume .resume-item h5 {
  background: #eaebf0;
  font-size: 16px;
  padding: 5px 15px;
  display: inline-block;
  font-weight: 600;
  margin-bottom: 10px;
}
.dark-mode .resume .resume-item h5 {
  background: #323232;
}
.resume .resume-item h6 {
  color: #050d18;
  line-height: 18px;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
  font-family: "Open Sans", sans-serif;
}
.dark-mode .resume .resume-item h6 {
  color: #A8A9B4;
}
.resume .resume-item ul {
  padding-left: 20px;
  list-style-type: none;
}
.resume .resume-item ul li {
  padding-bottom: 10px;
}
.resume .resume-item:last-child {
  padding-bottom: 0;
}
.resume .resume-item::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  left: -9px;
  top: 0;
  background: #fff;
  border: 2px solid #e2376a;
}
.dark-mode .resume .resume-item::before {
  background: #cecece;
}
.resume .resume-item .resume-image {
  border: 1px solid #000;
  border-radius: 8px;
  width: 75px;
  height: 75px;
  transition: all 0.3s ease 0s;
  box-shadow: rgba(0, 0, 0, 0.25) 0 3px 6px;
}
.resume .resume-item .resume-image:hover {
  transform: scale(1.08);
}
.resume .resume-item .resume-btn {
  border-radius: 8px;
  transition: all 0.3s ease 0s;
}
.resume .resume-item .resume-btn:hover {
  transform: scale(1.04);
}
.resume .resume-item .work-projects {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: initial;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.resume .resume-item .work-skills {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: initial;
}
/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/
.portfolio .portfolio-item {
  margin-bottom: 30px;
}
.portfolio #portfolio-filters {
  padding: 0;
  margin: 0 auto 35px auto;
  list-style: none;
  text-align: center;
  background: #eeeeee;
  border-radius: 50px;
  padding: 2px 15px;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.dark-mode .portfolio #portfolio-filters {
  background: #323232;
}
.portfolio #portfolio-filters li {
  cursor: pointer;
  display: inline-block;
  padding: 10px 15px 8px 15px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  color: #272829;
  margin-bottom: 5px;
  transition: all 0.3s ease-in-out;
}
.dark-mode .portfolio #portfolio-filters li {
  color: #A8A9B4;
}
.portfolio #portfolio-filters li:hover, .portfolio #portfolio-filters li.filter-active {
  color: #e2376a;
}
.portfolio #portfolio-filters li:last-child {
  margin-right: 0;
}
.portfolio .portfolio-wrap {
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  border: 1px solid #000;
  border-radius: 16px;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.portfolio .portfolio-wrap:hover {
  transform: scale(1.04);
}
.portfolio .portfolio-wrap::before {
  content: "";
  background: rgba(255, 255, 255, 0.5);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: all ease-in-out 0.3s;
  z-index: 2;
  opacity: 0;
}
.portfolio .portfolio-wrap .portfolio-links {
  opacity: 1;
  left: 0;
  right: 0;
  bottom: -60px;
  z-index: 3;
  position: absolute;
  transition: all ease-in-out 0.3s;
  display: flex;
  justify-content: center;
}
.portfolio .portfolio-wrap .portfolio-links a {
  color: #fff;
  font-size: 28px;
  text-align: center;
  background: #e41655;
  transition: 0.3s;
  width: 50%;
}
.portfolio .portfolio-wrap .portfolio-links a:hover {
  background: #e2376a;
}
.portfolio .portfolio-wrap .portfolio-links a + a {
  border-left: 1px solid #e41655;
}
.portfolio .portfolio-wrap:hover::before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
}
.portfolio .portfolio-wrap:hover .portfolio-links {
  opacity: 1;
  bottom: 0;
}
.portfolio .portfolio-status {
  color: #ffffff;
  background: #e41655;
  width: 180px;
  z-index: 1;
  position: absolute;
  top: 8px;
  right: -70px;
  transform: rotate(45deg);
  padding: 3px 0 3px 0;
  font-size: 14px;
  text-align: center;
}
/*--------------------------------------------------------------
# Portfolio Details
--------------------------------------------------------------*/
.portfolio-details {
  padding-top: 40px;
}
.portfolio-details .portfolio-details-slider img {
  width: 100%;
  border: 1px solid #000;
  border-radius: 16px;
}
.portfolio-details .portfolio-details-slider .swiper-pagination {
  margin-top: 20px;
  position: relative;
}
.portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet {
  width: 22px;
  height: 22px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid #e41655;
}
.dark-mode .portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet {
  background-color: #cecece;
}
.portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #e2376a;
}
.dark-mode .portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #e2376a;
}
.portfolio-details .portfolio-info {
  background-color: #fff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0px 0 30px rgba(5, 13, 24, 0.08);
}
.dark-mode .portfolio-details .portfolio-info {
  background-color: #323232;
}
.portfolio-details .portfolio-info h3 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}
.portfolio-details .portfolio-info ul {
  list-style: none;
  padding: 0;
  font-size: 15px;
}
.portfolio-details .portfolio-info ul li + li {
  margin-top: 10px;
}
.portfolio-details .portfolio-description {
  padding-top: 30px;
}
.portfolio-details .portfolio-description h2 {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 20px;
}
.portfolio-details .portfolio-description p {
  padding: 0;
}
/*--------------------------------------------------------------
# Contributions
--------------------------------------------------------------*/
#github-chart {
  transition: all 0.3s ease 0s;
}
#github-chart:hover {
  transform: scale(1.02);
}
/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.personal-services {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.services .icon-box {
  margin-bottom: 20px;
  padding: 30px;
  width: 100%;
  border-radius: 8px;
  transition: all 0.3s ease 0s;
  box-shadow: 0 0 24px 0 rgb(0 0 0 / 12%);
}
.dark-mode .services .icon-box {
  background: #323232;
}
.services .icon-box:hover {
  transform: scale(1.04);
}
.services .icon {
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 54px;
  height: 54px;
  background: #e41655;
  border-radius: 50%;
  transition: 0.5s;
  border: 1px solid #e41655;
}
.services .icon i {
  color: #fff;
  font-size: 24px;
  line-height: 0;
}
.services .icon-box:hover .icon {
  background: #fff;
}
.dark-mode .services .icon-box:hover .icon {
  background: #cecece;
}
.services .icon-box:hover .icon i {
  color: #e2376a;
}
.services .title {
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 70px;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
}
.services .title a {
  color: #343a40;
}
.dark-mode .services .title a {
  color: #A8A9B4;
}
.services .description {
  margin-left: 80px;
  line-height: 24px;
  font-size: 14px;
}
/*--------------------------------------------------------------
# Testimonials
--------------------------------------------------------------*/
.testimonials .testimonials-carousel, .testimonials .testimonials-slider {
  overflow: hidden;
}
.testimonials .testimonial-item {
  box-sizing: content-box;
  text-align: center;
  min-height: 320px;
}
.testimonials .testimonial-item .testimonial-img {
  width: 90px;
  border-radius: 50%;
  margin: 0 auto;
}
.testimonials .testimonial-item h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0 5px 0;
  color: #111;
}
.testimonials .testimonial-item h4 {
  font-size: 14px;
  color: #999;
  margin: 0;
}
.testimonials .testimonial-item .quote-icon-left, .testimonials .testimonial-item .quote-icon-right {
  color: #dd859f;
  font-size: 26px;
}
.testimonials .testimonial-item .quote-icon-left {
  display: inline-block;
  left: -5px;
  position: relative;
}
.testimonials .testimonial-item .quote-icon-right {
  display: inline-block;
  right: -5px;
  position: relative;
  top: 10px;
}
.testimonials .testimonial-item p {
  font-style: italic;
  margin: 0 15px 15px 15px;
  padding: 20px;
  background: #fff;
  position: relative;
  margin-bottom: 35px;
  border-radius: 6px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}
.testimonials .testimonial-item p::after {
  content: "";
  width: 0;
  height: 0;
  border-top: 20px solid #fff;
  border-right: 20px solid transparent;
  border-left: 20px solid transparent;
  position: absolute;
  bottom: -20px;
  left: calc(50% - 20px);
}
.testimonials .swiper-pagination {
  margin-top: 20px;
  position: relative;
}
.testimonials .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid #e41655;
}
.testimonials .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #e2376a;
}
/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact {
  padding-bottom: 130px;
}
.contact .info {
  background: #fff;
  width: 100%;
  padding: 30px;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
}
.contact .info i {
  font-size: 20px;
  color: #e41655;
  float: left;
  width: 44px;
  height: 44px;
  background: #dff3fc;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}
.contact .info h4 {
  color: #050d18;
  padding: 0 0 0 60px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
}
.dark-mode .contact .info h4 {
  color: #A8A9B4;
}
.contact .info p {
  color: #050d18;
  padding: 0 0 10px 60px;
  margin-bottom: 20px;
  font-size: 14px;
}
.dark-mode .contact .info p {
  color: #A8A9B4;
}
.contact .info .email p {
  padding-top: 5px;
}
.contact .info .social-links {
  padding-left: 60px;
}
.contact .info .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #333;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
  margin-right: 10px;
}
.contact .info .social-links a:hover {
  background: #e2376a;
  color: #fff;
}
.contact .info .email:hover i,
.contact .info .address:hover i,
.contact .info .phone:hover i {
  background: #e2376a;
  color: #fff;
}
.contact .contact-form {
  background: #fff;
  width: 100%;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
}
.dark-mode .contact .contact-form {
  background: #323232;
}
.contact .contact-form .form-control {
  border-color: #cecece;
}
.dark-mode .contact .contact-form .form-control {
  border-color: #6f7180;
}
.contact .contact-form .form-control:hover {
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
}
.dark-mode .contact .contact-form .form-control:hover {
  box-shadow: 0 2px 15px rgba(255, 255, 255, 0.1);
}
.contact .contact-form .form-control:focus {
  border-color: #323232;
}
.dark-mode .contact .contact-form .form-control:focus {
  border-color: #dce8f8;
}
.contact .contact-form .validate {
  display: none;
  color: red;
  margin: 0 0 15px 0;
  font-weight: 400;
  font-size: 13px;
}
.contact .contact-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
  animation: shake-element 0.4s forwards;
}
.contact .contact-form .error-message br+br {
  margin-top: 25px;
}
.contact .contact-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}
.contact .contact-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}
.contact .contact-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  animation: animate-loading 1s linear infinite;
}
.contact .contact-form .form-group {
  margin-bottom: 15px;
  padding-bottom: 8px;
}
.contact .contact-form label {
  padding-bottom: 8px;
}
.contact .contact-form input,
.contact .contact-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
}
.dark-mode .contact .contact-form input,
.dark-mode .contact .contact-form textarea {
  color: #A8A9B4;
  background: #323232;
}
.dark-mode .contact .contact-form input::placeholder, 
.dark-mode .contact .contact-form textarea::placeholder {
  color: #959595;
}
.contact .contact-form input {
  height: 44px;
}
.contact .contact-form textarea {
  padding: 10px 15px;
}
.contact .contact-form .submit-btn {
  background: #e41655;
  border: 0;
  padding: 15px 150px;
  margin: 15px 0 5px 0;
  color: #fff;
  transition: all 0.3s ease 0s;
  border-radius: 8px;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.contact .contact-form .submit-btn:hover {
  background: #e2376a;
  transform: scale(1.04);
}
@keyframes shake-element {
  0% {
    transform: translateX(0px);
  }
  25% {
    transform: translateX(5px);
  }
  50% {
    transform: translateX(-5px);
  }
  75% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0px);
  }
}
@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs {
  padding: 20px 0;
  background: #cecece;
}
.dark-mode .breadcrumbs {
  background: #323232;
}
.breadcrumbs h2 {
  font-size: 26px;
  font-weight: 300;
  color: #000 !important;
}
.dark-mode .breadcrumbs h2 {
  color: #cecece !important;
}
.breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 15px;
}
.breadcrumbs ol li + li {
  padding-left: 10px;
  color: #000 !important;
}
.dark-mode .breadcrumbs ol li + li {
  color: #cecece !important;
}
.breadcrumbs ol li + li::before {
  display: inline-block;
  padding-right: 10px;
  color: #0e2442;
  content: "/";
}
.dark-mode .breadcrumbs ol li + li::before {
  color: #6f7180;
}
/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  padding: 15px;
  color: #f4f6fd;
  font-size: 14px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 300px;
  z-index: 9999;
  background: #040b14;
  border: 1px solid #071424;
}
#footer .copyright {
  text-align: center;
  font-size: 12px;
}
#footer .credits {
  padding-top: 5px;
  text-align: center;
  font-size: 12px;
  color: #eaebf0;
}
/*--------------------------------------------------------------
# Media Queries
--------------------------------------------------------------*/
@media (max-width: 1199px) {
  #header {
    left: -300px;
  }
  #main {
    margin-left: 0;
  }
  #footer {
    position: static;
    width: auto;
    padding-right: 20px 15px;
  }
}
@media (min-width: 1024px) {
  #home {
    background-attachment: scroll;
  }
}
@media (max-width: 991px) {
  .contact .contact-form .submit-btn {
    display: block;
    width: 100%;
    padding: 15px 30px;
  }
  .skills .progress .skill {
    font-size: 1.0em;
  }
}
@media (max-width: 790px) {
  #home {
    height: 80vh;
  }
  #home::before {
    bottom: 20%;
  }
  #home h1 {
    font-size: 50px;
  }
  #home p {
    font-size: 25px;
  }
}
@media (max-width: 768px) {
  .breadcrumbs .d-flex {
    display: block !important;
  }
  .breadcrumbs ol {
    display: block;
  }
  .breadcrumbs ol li {
    display: inline-block;
  }
  .skills .progress .skill {
    font-size: 0.82em;
  }
}
@media (max-width: 690px) {
  #home {
    height: 100vh;
  }
  #home::before {
    bottom: 0%;
  }
  #home h1 {
    font-size: 45px;
  }
  #home p {
    font-size: 25px;
  }
}
@media (max-width: 645px) {
  #home {
    height: 98vh;
  }
  #home::before {
    bottom: 2%;
  }
  #home h1 {
    font-size: 45px;
  }
  #home p {
    font-size: 25px;
  }
}
@media (max-width: 590px) {
  #home {
    height: 90vh;
  }
  #home::before {
    bottom: 10%;
  }
  #home h1 {
    font-size: 40px;
  }
  #home p {
    font-size: 25px;
  }
  .progress-bar {
    width: 100% !important;
  }
}
@media (max-width: 575px) {
  .skills .progress {
    text-align: center;
  }
  .skills .progress .skill {
    font-size: 1.15em;
  }
}
@media (max-width: 520px) {
  #home {
    height: 78vh;
  }
  #home::before {
    bottom: 22%;
  }
  #home h1 {
    font-size: 40px;
  }
  #home p {
    font-size: 22px;
  }
  .progress-bar {
    width: 100% !important;
  }
}
@media (max-width: 468px) {
  #home {
    height: 70vh;
  }
  #home::before {
    bottom: 30%;
  }
  #home h1 {
    font-size: 38px;
  }
  #home p {
    font-size: 20px;
  }
  .progress-bar {
    width: 100% !important;
  }
}
@media (max-width: 425px) {
  #home {
    height: 62vh;
  }
  #home::before {
    bottom: 38%;
  }
  #home h1 {
    font-size: 36px;
  }
  #home p {
    font-size: 18px;
  }
  .progress-bar {
    width: 100% !important;
  }
}
@media (max-width: 375px) {
  #home {
    height: 55vh;
  }
  #home::before {
    bottom: 45%;
  }
  #home h1 {
    font-size: 34px;
  }
  #home p {
    font-size: 18px;
  }
  .progress-bar {
    width: 100% !important;
  }
}
@media (max-width: 320px) {
  #home {
    height: 48vh;
  }
  #home::before {
    bottom: 52%;
  }
  #home h1 {
    font-size: 30px;
  }
  #home p {
    font-size: 15px;
  }
  .progress-bar {
    width: 100% !important;
  }
}
